<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="BaseLog" value="${longdate} ${when:when=length('${aspnet-sessionid}') > 0:inner=${aspnet-sessionid} ${when:when=length('${aspnet-user-identity}') > 0:inner=${aspnet-user-identity} }$}${level:uppercase=true} ${callsite}"/>
	<variable name="Message" value="${newline}${message}"/>
	<variable name="Exception" value="${newline}${exception:format=ToString}"/>
	<variable name="InfoMessage" value="${longdate} ${when:when=length('${aspnet-sessionid}') > 0:inner=${aspnet-sessionid} ${when:when=length('${aspnet-user-identity}') > 0:inner=${aspnet-user-identity} }}${level:uppercase=true} ${message}"/>

	<variable name="BaseLayout" value="${BaseLog}${when:when=length('${message}') > 0:inner=${Message}}${when:when=length('${exception:format=ToString}') > 0:inner=${Exception}}${newline}"/>
	<variable name="InfoLayout" value="${when:when=length('${message}') > 0:inner=${InfoMessage}}"/>
	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

	<targets async="true">
		<!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
		<target name="err" xsi:type="File" fileName="${basedir}/logs/error-${shortdate}.log" layout="${BaseLayout}"
				archiveEvery="Day"
				archiveFileName="${basedir}/logs/error-{#}.zip"
				archiveNumbering="DateAndSequence"
				archiveDateFormat="yyyy-MM-dd"
				archiveAboveSize="1048576"
				enableArchiveFileCompression="true"/>
		<target name="info" xsi:type="File" fileName="${basedir}/logs/info-${shortdate}.log" layout="${InfoLayout}"
				archiveEvery="Day"
				archiveFileName="${basedir}/logs/info-{#}.zip"
				archiveNumbering="DateAndSequence"
				archiveDateFormat="yyyy-MM-dd"
				archiveAboveSize="104857600"
				enableArchiveFileCompression="true" />
		<target name="all" xsi:type="File" fileName="${basedir}/logs/all-${shortdate}.log" layout="${BaseLayout}"
				archiveEvery="Day"
				archiveFileName="${basedir}/logs/all-{#}.zip"
				archiveNumbering="DateAndSequence"
				archiveDateFormat="yyyy-MM-dd"
				archiveAboveSize="104857600"
				enableArchiveFileCompression="true" />
	</targets>


	<!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

	<rules>
		<!-- add your logging rules here -->
		<logger name="*" writeTo="err" minlevel="Error" maxlevel="Fatal" />
		<logger name="*" writeTo="info" minlevel="Info" maxlevel="Warn" />
		<!--<logger name="*" writeTo="all" />-->

		<!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
	</rules>
</nlog>
